<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riot Retro - WFO Scheduling</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-HXKYE4MYD7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-HXKYE4MYD7');
</script>

<style>
    * {
        margin: 0;
    }
</style>

<body class="bg-gradient-to-b from-slate-50 to-blue-200">
    <nav class="text-base p-4 flex justify-between">
        <span role="text">
            Riot Retro
        </span>

        {% if user.is_authenticated %}
        <span>
            Hi, {{ user.name }}
        </span>
        {% endif %}
    </nav>
    <main class="h-[calc(100vh-56px)] p-4">
        {% block content %} {% endblock %}
    </main>
</body>

</html>