{% extends 'base.html' %}

{% block content %}
<div class="md:text-4xl text-2xl flex flex-col gap-4">
    <span>You should travel on:</span>
    <table class="border md:w-1/2">
        <tbody>
            <tr class="border text-base md:text-2xl">
                <td class="border p-2">Monday</td>
                <td class="border p-2">Monday</td>
                <td class="border p-2">Monday</td>
                <td class="border p-2">Monday</td>
            </tr>
        </tbody>
    </table>
</div>

{% if user.is_authenticated %}
<footer class="p-4 fixed bottom-0 left-0 right-0">
    <div class="flex justify-between">
        <a href="{{ url_for('logout') }}">
            Logout
        </a>

        <div class="flex items-center gap-2">
            <div class="h-2 w-2 bg-green-500 rounded animate-ping"></div> Active Users: {{ count }}
        </div>
    </div>
</footer>
{% endif %}
{% endblock %}