{% extends 'base.html' %}

{% block content %}
<div class="md:text-4xl text-2xl flex flex-col gap-4">
    <span>You should travel on:</span>
    <table class="border md:w-1/2">
        <tbody>
            <tr class="border text-base md:text-2xl">
                <td class="border p-2">Monday</td>
                <td class="border p-2">Monday</td>
                <td class="border p-2">Monday</td>
                <td class="border p-2">Monday</td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}